<br>
<div class="container-md mh">
    
    <div class="card text-dark bg-light com">
        <h2 class="card-title">Registro Ubicación</h2>

        <div class="input-group mb-3 com">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-marked-alt icon"></i></span>
            <input type="text" class="form-control" placeholder="Zona" id="Zona" ng-model="formData.Zona">
        </div>
        <div class="input-group mb-3 com">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-marker-alt icon"></i></span>
            <input type="text" class="form-control" placeholder="Barrio" id="Barrio" ng-model="formData.Barrio">
        </div>
        
        <button class="btn btn-primary" id="submit" name="submit" (click)="registrarUbicacion()">Registrar</button>
        
        <h4 class="card-subtitle mb-2 text-muted">respuesta: {{respu.respo}}</h4>
        
    </div>
</div>