td {
    border: 3px solid #2f3338;
    width: 100px;
}
.men-conte{
    justify-content:center;
    align-items:center;
    margin-top: 50px;
    display:flex;
}
.com{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.mh{
    max-width: 730px;
}
.bcom{
    padding: 10px;
    min-width:250px;
}