<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->

<div class="container-fluid cabeza">
  <br>
  <div class="der">
    <h1>Inmobiliaria Colombia</h1>
    
  </div>
  <div class="izq">
    <h5>Proyecto inmobiliaria misión TIC 2022</h5>
    <h6 class="camb">Iván Galíndez</h6>
    <h6 class="camb">Manuela Granda</h6>
  </div>
</div>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top border-5 border-bottom border-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><h2><i class="fas fa-hotel"></i>{{title}}</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#MenuNav" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div id="MenuNav" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-3">
        <h5><li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Consultar
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/user">Usuarios</a>
            <a class="dropdown-item" href="/consulEd">Inmuebles</a>
            <a class="dropdown-item" href="/ubi">Ubicaciones</a>
          </div>
        </li></h5>
    
        <h5><li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Insertar
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/user">Usuario</a>
            <a class="dropdown-item" href="/inmo">Inmueble</a>
            <a class="dropdown-item" href="/ubi">Ubicación</a>
          </div>
        </li></h5>
      </ul>
      <ul class="navbar-nav ms-4"> 
        <h5><li class="nav-item">
        <a class="nav-link text-nowrap" href="#">Iniciar sesión</a>
        </li></h5>
      </ul>
    </div>
  </nav>

    


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
