.campo-c{
    width:60%;
    align-items:center;
}

.campo-c input[type="text"] {
    border: 3px #cfb419 solid;
    width: 55%;
}

.com{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.mh{
    max-width: 700px;
}
.bcom{
    padding: 10px;
    min-width:250px;
}