    <br>
    <div class="container-md mh">
        
        <div class="card text-dark bg-light com">
            <h2 class="card-title">Registro Usuarios</h2>
    
            <div class="input-group mb-3 com">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-address-book icon"></i></span>
                <input type="text" class="form-control input-lg text-center" placeholder="Cedula" id="cedula" ng-model="formData.cedula">
            </div>
            <div class="input-group mb-3 com">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user icon"></i></span>
                <input type="text" class="form-control input-lg text-center" placeholder="Nombres" id="nombre" ng-model="formData.nombre">
            </div>
            <div class="input-group mb-3 com">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user icon"></i></span>
                <input type="text" class="form-control input-lg text-center" placeholder="Apellidos" id="apellido" ng-model="formData.apellido">
            </div>
            <div class="input-group mb-3 com">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope icon"></i></span>
                <input type="text" class="form-control input-lg text-center" placeholder="Correo Electronico" id="correo" ng-model="formData.correo">
            </div>
            <div class="input-group mb-3 com">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile-alt icon"></i></span>
                <input type="text" class="form-control input-lg text-center" placeholder="Celular" id="celular" ng-model="formData.celular">
            </div>
            
            <h4 class="card-subtitle mb-2 text-muted">Id Usuario</h4>

            <div class="input-group mb-3 com">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user icon"></i></span>
                <input type="text" class="form-control input-lg text-center" placeholder="Usuario" id="user" ng-model="formData.user">
            </div>
            <div class="input-group mb-3 com">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key icon"></i></span>
                <input type="password" class="form-control input-lg text-center" placeholder="Contraseña" id="clave" ng-model="formData.clave">
            </div>
            
            <button class="btn btn-primary" id="submit" name="submit" (click)="registrarUsu()">Registrar</button>
            <p></p>
        </div> 
    </div>
